.question{
    width: 90%;
    max-width: 1140px;
    margin: auto;
    h1{
        text-align: center;
    }
    .container__options{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 4rem;
        button{
            background-color: rgb(92, 148, 148, 0.6);
            border-radius: 4px;
            font-size: 1.2rem;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: rgb(92, 148, 148, 1);
            }
        }
    }
}

.score{
    p{
        font-size: 1.5rem;
        span{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    a{
        background-color: black;
        color: #fff;
    }
}