.question{
    width: 90%;
    max-width: 1140px;
    margin: auto;
    color: #fff;
    h1{
        text-align: center;
    }
    .container__options{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 4rem;
        button{
            color: #fff;
            background-color: rgb(92, 148, 148);
            border-radius: 4px;
            font-size: 1.2rem;
            transition: all 0.2s ease-in-out;
        }
    }
}

@media screen and (min-width: 900px) {
    .question{
        .container__options{
            button:hover{
                transform: scale(1.1);
            }
        }
    }
}